<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input [(ngModel)]="listFilter" type="text" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{ listFilter }}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImage()">
                {{ showImage ? "Hide" : "Show" }} poster
              </button>
            </th>
            <th>Movie</th>
            <th>Duration</th>
            <th>Boring</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of filteredMovies">
            <td>
              <img
                *ngIf="showImage"
                [src]="movie.imageUrl"
                [title]="movie.name"
                [style.width.px]="imageWidth"
                [style.margin.px]="imageMargin"
              />
            </td>
            <td>{{ movie.name | uppercase }}</td>
            <td>{{ movie.duration | customTime: ":" }}</td>
            <td>{{ movie.boring ? "yup" : "nah" }}</td>
            <td>{{ movie.rating }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
